.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

p {
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  background-color: azure;
  border: 2px solid goldenrod;
  border-radius: 5px;
}

p:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 4px rgba(218, 165, 32, 0.4);
}